.map {
  height: 400px;
  overflow: hidden;
  display: flex;
  align-content: center;
  background: #fff;
  position: relative;

  svg {
    width: 100%;
  }

  path {
    stroke: #363f4e;
    stroke-width: 0.25px;
    fill: #dceeff;
    cursor: pointer;
  }

  /* path.map-engaged {
    fill: #f00;
  } */

  path.map__hilite-planned {
    fill: #00C7E2;
  }
  path.map__hilite-implementing {
    fill: #009BFE;
  }
  path.map__hilite-liveregister {
    fill: #1BB0A7;
  }

  /* UNUSED; from outgoing design
  path.map__hilite-central {
    fill: #7F12E0;
  }
  path.map__hilite-public {
    fill: #1BB0A7;
  }
  path.map__hilite-public.map__hilite-central {
    fill: url(#diagonalHatch) #90c;
  }
  */

  @include min-width(lg) {
    margin-right: -300px;
  }
}

.map__hatch-bg {
  fill: #7F12E0;
}
.map__hatch-fg {
  stroke: #1BB0A7;
}

.map__circle {
  fill: #DB00C9;
  stroke-width: 1px;
  stroke: #fff;
}

.map__zoom {
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 20;
  font-size: 1.5em;
  line-height: 1em;
}
.map__zoom-in {
  left: 5px;
}
.map__zoom-out {
  left: 47px;
}

.map__tooltip {
  background: #fff;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  padding: 0.5em 10px;
  width: auto;
  font-size: 12px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.33);
}

.country__header-card_row.--planned {
  svg g {
    fill: #00C7E2;
  }
}

.country__header-card_row.--implementing {
  svg g {
    fill: #009BFE;
  }
}

.country__header-card_row.--liveregister {
  svg g {
    fill: #1BB0A7;
  }
}

.--liveregister {
  svg g {
    fill: #1BB0A7;
  }
}

.--planned {
  svg g {
    fill: #00C7E2;
  }
}

.--implementing {
  svg g {
    fill: #009BFE;
  }
}
