.navbar {
    @apply bg-white;
    svg {
        width: 173px;
    }
}

.navbar__wrapper {
    @apply flex;
    @apply my-4;
}

.navbar__navigations-container {
    @apply flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.navigation__level-one {
    @apply flex;
}

.navigation__level-two {
    @apply mx-4;
    a {
        @apply block;
        @apply border-b-3 border-transparent;
        @apply no-underline text-black;
        @apply pb-2;
        &:hover {
            @apply text-blue-medium;
        }
    }

    [aria-current] {
        @apply border-blue-medium font-bold ;
    }
}

/*------------------------------------*\
  #PAGINATION
\*------------------------------------*/

.nav--pagination {
    @apply flex justify-center;
    @apply mt-10 pt-10;
    @apply border-t border-black/50;

    li {
        @apply mx-2;

        a {
            @apply p-1;
        }

        [aria-current] {
            @apply bg-grey-darker text-white font-bold;
        }

    }
}

.nav--previous, .nav--next {
    @apply mx-5;
}

.nav--no-page {
    @apply text-blue-medium;
}