.navbar {
    @apply bg-white;
    @include min-width(lg) {
        height: 100px;
    }

    .navbar__logo {
        height: 57px;
        margin: 15px 0;
        width: 200px;
        display: flex;

        svg {
            width: 197px;
            height: 57px;
        }
    }
}

.navbar__wrapper {
    @apply flex;
    align-items: center;
    height: inherit;

    @include max-width(lg) {
        @apply py-4;
        flex-wrap: wrap;
    }
}

.navbar__navigations-container {
    @apply flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;

    @include max-width(lg) {
        width: 100%;
    }

    @include min-width(lg) {
        align-self: flex-end;
        @apply mb-4;
    }
}

.navbar__main-navigation {
    @include max-width(lg) {
        width: 100%;
        @apply mt-4;

        &.--hidden {
            display: none;
        }
    }
}

.navigation__level-one {
    @apply flex;

    @include max-width(lg) {
        flex-direction: column;
    }
}

.navigation__level-one__item {
    @apply text-14;
    /* */
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: unset;
    align-content: baseline;
    align-items: center;
    position: relative;

    &.expanded {
        @apply bg-blue-light;
    }

    &.--no-submenu {
        @include max-width(lg) {
            padding: .6rem;
            @apply px-8;
        }
        
    }

    &.--has-submenu {
        @include max-width(lg) {
            a {
                @apply ml-8;
            }
        }
        
    }

    @include max-width(lg) {
        flex-wrap: wrap;
        justify-content: space-between;
        @apply font-bold text-16;
        @apply border-b-2 border-grey-medium;
        @apply text-blue-medium;
        &:first-of-type {
            @apply border-t-2 border-grey-medium;
        }
    }

    @include min-width(lg) {
        @apply px-2;
    }

    a {
        @apply block;
        @apply text-blue-medium no-underline;
        &:hover {
            @apply text-blue-medium;
        }
    }

    @include min-width(lg) {
        a {
            @apply border-b-3 border-transparent;
            @apply text-black;
    
            &[aria-current], &.navbar--current {
                @apply border-blue-medium font-bold ;
            }
        }
    }
}

.navigation__subnav-button {
    @apply p-4;
    display: none;
    @include max-width(lg) {
        display: block;
    }
}

.navigation__subnav-button.--level-one {
    .collapse-icon {
        display: none;
    }

    .expand-icon {
        display: block;
    }

    &.expanded {
        .collapse-icon {
            display: block;
        }

        .expand-icon {
            display: none;
        }
    }
}

.navigation__subnav-button__language {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply text-blue-medium;
    @apply font-normal text-16 font-bold;
    padding: .6rem;
    @apply pl-8 pr-4;


}

.navigation__level-one__language-menu {
    display: block;
    @include min-width(lg) {
        display: none;
    }
    .navigation__level-two__item {
        a {
            @apply w-full;
            @apply py-2;
        }
    }
}


.navigation__subnav-button.--level-two {
    .collapse-icon {
        display: none;
    }

    .expand-icon {
        display: block;
    }

    &.expanded {
        .collapse-icon {
            display: block;
        }

        .expand-icon {
            display: none;
        }
    }
}

.navigation__level-two {
    @apply bg-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation__level-two__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @apply border-t border-grey-medium;
    @apply text-blue-medium;
    @apply font-normal text-16;
    justify-content: space-between;
    &:first-of-type {
        @apply border-t border-grey-medium;
    }

    &.--no-submenu {
        padding: .6rem 0;
    }

    &.expanded {
        @apply bg-blue-light;
    }
}

.navigation__level-three {
    width: 100%;
    padding: .6rem;
    @apply bg-white;
}

.navigation__level-three__item {
    padding: .6rem;
    @apply text-14;
}

.subnav--hidden {
    display: none;
}

/*------------------------------------*\
  #LANGUAGE
\*------------------------------------*/

@include max-width(lg) {
    .navbar__language {
        display: none;
    }
}

.navbar__language {
    position: relative;
    &:hover .navbar__language-list{
        display: block;

    }
}
.navbar__choose-language {
    @apply flex;
    align-items: center;
    @apply text-14 text-blue-medium;
    padding: 5px;
    padding-bottom: 20px;

    svg {
        @apply ml-2;
    }


}

.navbar__language-list {
    @apply text-14 text-blue-medium;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 2;
    padding: 5px;
    top: 30px;
    width: 100%;
    left: 0;

    li a {
        padding: 5px 5px 5px 0;
    }
}

/*------------------------------------*\
  #MOBILE
\*------------------------------------*/

.navigation__toggle {
    position: absolute;
    top: 45px;
    display: flex;
    align-items: center;

    svg {
        @apply ml-2;
        transform: rotate(180deg);
    }

    &.expanded {
        svg {
            transform: rotate(0deg);
        }
    }

    @include min-width(lg) {
        display: none;
    }
}


/*------------------------------------*\
  #PAGINATION
\*------------------------------------*/

.nav--pagination {
    @apply flex justify-center;
    @apply mt-10 pt-10;
    @apply border-t border-black/50;

    li {
        @apply mx-2;

        a {
            @apply p-1;
        }

        [aria-current] {
            @apply bg-grey-darker text-white font-bold;
        }

    }
}

.nav--previous, .nav--next {
    @apply mx-5;
}

.nav--no-page {
    @apply text-blue-medium;
}