.page-menu__container {
    .heading-m {
        @apply pl-4 mb-5;
        margin-top: rem(50px);
    }
}

@include max-width(md) {
    .page-menu__container {
        display: none;
    
        &.show {
            display: block;
        }
    }
    .aside-layout__menu.--is-publication {
        .heading-m {
            display: none;
        }
    }    
}


.page-menu {
    list-style: none;
}

.page-menu__page {
    @apply p-0;

    a {
        @apply no-underline;
        &:hover {
            @apply underline;
        }
    }
    
    &.current {
        @apply bg-white;
    }

    &.child-current {
        @apply bg-blue-light;
    }
}

.page-menu__page-title {
    @apply px-8 py-3;
    display: block;
    @apply border-y border-grey-medium;

}

.page-menu__children-list {
    @apply bg-grey-light;
}

.page-menu__children-list__item {
    @apply pl-10 pr-8 py-3;
    @apply text-14;
    
    &:last-of-type {
        @apply border-0;
    }

    a {
        @apply text-blue-medium;
        @apply no-underline;
    }

    &.current {
        @apply bg-white;
    }
}

.report-contents {
    @apply border-t border-black/50;
    @apply w-full p-4;
    @apply flex items-center justify-between;
    @apply text-16 font-bold text-blue-medium;


    .collapse-icon {
        display: none;
    }

    &.expanded {
        .collapse-icon {
            display: block;
        }

        .expand-icon {
            display: none;
        }
    }

    @include min-width(md) {
        display: none;
    }
}