{% set body_classes = "country-page" %}
{% extends 'base_with_menu.jinja' %}


{% block crumbs %}
    <div class="contained-width {{ main_classes }}">

        {% with breadcrumb_page=page.breadcrumb_page %}
            {% if breadcrumb_page %}
                <div class="breadcrumbs">
                    <a class="reverse-underline" href="{{ breadcrumb_page.get_url() }}"><span aria-hidden="true"> < </span>{% trans %}Back to{% endtrans %} {{ breadcrumb_page.title }}</a>
                </div>
            {% endif %}
        {% endwith %}

    </div>
{% endblock %}

{% block content %}

<article>
    <div class="country-page__overview">
        {% if country.map_image %}
        <div class="country-page__map">
            {{ picture(country.map_image, 300, 194) }}
        </div>
        {% endif %}

        <div class="country-page__details">
            <p><strong>Records last updated: {{ country.last_updated|nicedate }}</strong></p>
            
            {% if country.consultant %}
                <p>
                    <strong>
                        {% trans %}Contact person:{% endtrans %}
                    </strong>
                    <a href="{{ country.consultant.url }}">
                        {{ country.consultant.title }}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="country-page__country-data">

        <div class="country-page__country-data-box">
            <h2 class="country-page__country-data-box-header">
                {% include "svg/commitment-icon.jinja" %}
                {% trans %}Committed to one or more{% endtrans %}
            </h2>

            <ul class="country-page__country-data-box-list">
                <li class="country-page__country-data-box-list-item">
                    {% if checkbox(country.committed_central) == 'YES' %}
                        {% include "svg/confirm-icon.jinja" %}
                    {% else %}
                        {% include "svg/not-confirm-icon.jinja" %}
                    {% endif %}
                    
                    {% trans %}Central register(s){% endtrans %}
                </li>

                <li  class="country-page__country-data-box-list-item">
                    {% if checkbox(country.committed_public) == 'YES' %}
                        {% include "svg/confirm-icon.jinja" %}
                    {% else %}
                        {% include "svg/not-confirm-icon.jinja" %}
                    {% endif %}
                    {% trans %}Public register(s){% endtrans %}
                </li>
            </ul>
        </div>

        <div class="country-page__country-data-box">
            <h2 class="country-page__country-data-box-header">
                {% include "svg/implementation-icon.jinja" %}
                {% trans %}Implemented one or more{% endtrans %}
            </h2>

            <ul class="country-page__country-data-box-list">
                <li class="country-page__country-data-box-list-item">
                    {% if checkbox(country.implementation_central) == 'YES' %}
                        {% include "svg/confirm-icon.jinja" %}
                    {% else %}
                        {% include "svg/not-confirm-icon.jinja" %}
                    {% endif %}
                    
                    {% trans %}Central register(s):{% endtrans %}<br>
                    {% if country.first_central_regime %}
                    {% if country.first_central_regime.url %}<a href="{{ country.first_central_regime.url }}">{% endif %}
                        {{ country.first_central_regime.title }}
                    {% if country.first_central_regime.url %}</a>{% endif %}
                    {% endif %}
                </li>

                <li  class="country-page__country-data-box-list-item">
                    {% if checkbox(country.implementation_public) == 'YES' %}
                        {% include "svg/confirm-icon.jinja" %}
                    {% else %}
                        {% include "svg/not-confirm-icon.jinja" %}
                    {% endif %}
                    {% trans %}Public register(s):{% endtrans %}
                    {% if country.first_public_regime_with_url %}
                        <a href="{{ country.first_public_regime_with_url.url }}">{{ country.first_public_regime_with_url.title }}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    {# <div>
        <a href="#" class="ghost-link">{% trans %}Download Country Data{% endtrans %}</a>
    </div> #}

    <div>
        {{ _('Data is drawn from publicly-available sources and may not be comprehensive for all countries. If data is incorrect') }}, <a href="https://share.hsforms.com/1ooDVGfPWQFyc93l3Bds9jA3upv4">{{_('please let us know')}}</a>.
    </div>

    <div class="country-page__content">
        <section class="country-page__section">
            <h2>{% trans %}Commitment Detail{% endtrans %}</h2>

            <ul>
                {% for commitment in country.all_commitments %}
                {# {% if commitment.summary_text %}
                    {% set summary = commitment.summary_text %}
                {% else %}
                    {% set summary = commitment_summary(commitment.commitment_type_name, country) %}
                {% endif %} #}
                {% set summary = commitment.display_summary %}
                <li>
                    {{ summary }} {% if commitment.date %}[{{ commitment.date|nicedate }}]{% endif %}
                    {% if commitment.link %}<a href="{{ commitment.link }}">link to commitment</a>{% endif %}
                </li>
                {% endfor %}
            </ul>
            
        </section>

<section class="country-page__section">
    <h2>{% trans %}Implementation Detail{% endtrans %}</h2>

{% for regime in country.regimes %}
    {# only when "publish" #}
    {% if 'Publish' in regime.implementation_stage %}
    {% if 'Subnational' not in regime.display_scope %}
            <p>{{ regime.title }}</p>

            <details>
                <summary>{% trans %}Show further detail{% endtrans %}</summary>
                <div class="implementation-details">
                    <dl>
                        {% if regime.implementation_title %}
                        <dt>{% trans %}Name{% endtrans %}</dt>
                        <dd>
                            {% if regime.implementation_title_link %}<a href="{{ regime.implementation_title_link }}">{% endif %}
                            {{ regime.implementation_title }}
                            {% if regime.implementation_title_link %}</a>{% endif %}
                        </dd>
                        {% endif %}

                        {% if regime.implementation_central is not none %}
                        <dt>{% trans %}Central register implemented{% endtrans %}</dt>
                        <dd>{{ regime.implementation_central|yesno }}</dd>
                        {% endif %}

                        {% if regime.implementation_public is not none %}
                        <dt>{% trans %}Public access{% endtrans %}</dt>
                        <dd>{{ regime.implementation_public|yesno }}</dd>
                        {% endif %}

                        {% if regime.display_scope %}
                        <dt>{% trans %}Scope{% endtrans %}</dt>
                        <dd>{{ regime.display_scope }}</dd>
                        {% endif %}

                        {% if regime.display_register_launched %}
                        <dt>{% trans %}Register launched{% endtrans %}</dt>
                        <dd>{{ regime.display_register_launched }}</dd>
                        {% endif %}

                        {% if regime.display_threshold %}
                        <dt>{% trans %}Threshold used to determine beneficial ownership{% endtrans %}</dt>
                        <dd>{{ regime.display_threshold }}</dd>
                        {% endif %}

                        {% if regime.display_structured_data is not none %}
                        <dt>{% trans %}Structured data publicly available{% endtrans %}</dt>
                        <dd>{{ regime.display_structured_data|yesno }}</dd>
                        {% endif %}

                        {% if regime.display_data_in_bods is not none %}
                        <dt>{% trans %}Available as BODS{% endtrans %}</dt>
                        <dd>{{ regime.display_data_in_bods|yesno }}</dd>
                        {% endif %}

                        {% if regime.display_api is not none %}
                        <dt>{% trans %}Available via API{% endtrans %}</dt>
                        <dd>{{ regime.display_api|yesno }}</dd>
                        {% endif %}

                        {% if regime.display_oo_register  %}
                        <dt>{% trans %}Available on the OO register{% endtrans %}</dt>
                        <dd>{{ regime.display_oo_register|yesno }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </details>
    {% endif %}
    {% endif %}
{% endfor %}
</section>

        {# This section will come post-launch #}
        {# <section>
            <hr/>
            <h2>{% trans %}Legislation Detail{% endtrans %}</h2>
        </section> #}
    </div>

</article>


{% set related_pages = country.latest_related(3) %}
{% if related_pages|length %}
<div class="related-pages">
    <h2>{% trans %}Relevant articles and publications{% endtrans %}</h2>
    {% with pages=related_pages, columns=1, card_format='landscape' %}
        {% include "_partials/card_group.jinja" %}
    {% endwith %}
</div>
{% endif %}


{{ super() }}

{% endblock %}
