{% set body_classes = "region-page" %}
{% extends 'base_with_menu.jinja' %}


{% block crumbs %}
    <div class="contained-width {{ main_classes }}">

        {% with breadcrumb_page=page.breadcrumb_page %}
            {% if breadcrumb_page %}
                <div class="breadcrumbs">
                    <a class="reverse-underline" href="{{ breadcrumb_page.get_url() }}"><span aria-hidden="true"> < </span>{% trans %}Back to{% endtrans %} {{ breadcrumb_page.title }}</a>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block content %}

	<article>
		{% if region.blurb %}
			{{ region.blurb|richtext }}
		{% endif %}

		{% if country_list %}
			<ul>
				{% for country in country_list %}
					<li>
						<a href="{{ country.url }}">{{ country }}</a>
						{{ country.blurb|richtext }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

	</article>

	{{ super() }}

{% endblock %}
