.git
.gitkeep
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
_db/**/*
devops/**/*
docs/**/*
fabfile/**/*
guide/**/*
temp/**/*
.codacy.yaml
.gitignore
ansible.cfg
config.toml
locustfile.py
README.md
setup.cfg
