{% extends "base_with_menu.jinja" %}

{# The page showing a list of PressLinks.  #}

{% block content %}
	{% with pages=object_list, columns=2 %}
		{% include "_partials/card_group.jinja" %}
	{% endwith %}

	{% include "_partials/pagination.jinja" %}

{% endblock %}