{% extends "base_with_menu.jinja" %}


{% block content %}

	{{render_stream(tag.body)}}

	{% with pages=object_list %}
		{% include "_partials/card_group.jinja" %}
	{% endwith %}

	{% include "_partials/pagination.jinja" %}

{% endblock %}