<div>
    {% if value.link_type == 'page' %}
        <a class="next-page" href="{{ value.link_page.get_url() }}">{{ value.link_label }}</a>
    {% elif value.link_type == 'document' %}
        <a class="next-page" href="{{ value.link_document.url }}">{{ value.link_label }}</a>
    {% elif value.link_type == 'url' %}
        <a class="next-page" href="{{ value.link_url }}">{{ value.link_label }}</a>
    {% endif %}
</div>