<div class="features-list">
    {% include 'svg/bg_bubbles/blue-coral.jinja' %}
    <div class="contained-width">
        <ul class="features-list__items">
            {% for obj in value.objects %}
                <li class="features-list__item">
                    {% if obj.icon %}
                        <div class="features-list__icon">
                            {% include 'svg/icons/' + obj.icon + '.jinja' %}
                        </div>
                    {% endif %}
                    {% if obj.title %}<h2 class="features-list__title">{{obj.title}}</h2>{% endif %}
                    {% if obj.body %}{{obj.body|richtext}}{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include 'svg/bg_bubbles/green-yellow.jinja' %}
</div>
