<div class="process-diagram contained-width">
    <div class="process-diagram__image">
        {{image(value.image, 'fill-310x620')}}
    </div>
    <ol class="process-diagram__items">
        {% for obj in value.objects %}
            <li class="process-diagram__item">
                {% if obj.icon %}
                    <div class="process-diagram__icon">
                        {% include 'svg/icons/speech_bubbles/' + obj.icon + '.jinja' %}
                    </div>
                {% endif %}
                {% if obj.title %}<h2 class="process-diagram__title">{{obj.title}}</h2>{% endif %}
                {% if obj.body %}{{obj.body|richtext}}{% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
