<div class="quote-panel quote-panel--text quote-panel--article">
    <div class="contained-width">
        <div class="quote-panel__text">
            <h2 class="quote-panel__quote">{{value.quote}}</h2>
        </div>
    </div>
</div>