<div class="slim-banner slim-banner--theme-{{value.theme}}">
    {% include 'svg/bg_bubbles/yellow--small.jinja' %}
    <div class="contained-width">
        <div>
            {% if value.eyebrow %}<span class="slim-banner__eyebrow">{{value.eyebrow}}</span>{% endif %}
            {% if value.title %}<h2 class="slim-banner__title">{{value.title}}</h2>{% endif %}
            {% if value.body %}{{value.body|richtext}}{% endif %}
        </div>
        {{render_cta(value.cta, 'btn')}}
    </div>
    {% include 'svg/bg_bubbles/blue--right.jinja' %}
</div>
