<div class="steps-panel steps-panel--theme-{{value.theme}} {% if value.speech_bubble_theme %}steps-panel--bubble-theme-{{value.speech_bubble_theme}}{% endif %}">
    {% if value.speech_bubble_theme %}{% include 'svg/bg_bubbles/options.jinja' %}{% endif %}
    <div class="contained-width">
        {% if value.eyebrow %}<span class="steps-panel__eyebrow">{{value.eyebrow}}</span>{% endif %}
        {% if value.title %}<h2 class="steps-panel__title">{{value.title}}</h2>{% endif %}
        <ul class="steps-panel__items">
            {% for object in value.objects %}
                <li class="steps-panel__item">
                    {% if object.icon and object.icon.image %}{{image(object.icon.image, 'fill-300x300')}}{% endif %}
                    {{object.body|richtext}}
                </li>
            {% endfor %}
        </ul>
        {{render_cta(value.cta, "btn")}}
    </div>
</div>
