<div class="text-panel text-panel--{{value.layout}} {% if value.speech_bubble_theme %}text-panel--bubble-theme-{{value.speech_bubble_theme}}{% endif %}">
    {% if value.speech_bubble_theme %}{% include 'svg/bg_bubbles/options.jinja' %}{% endif %}
    <div class="contained-width">
        <header class="text-panel__header">
            {% if value.eyebrow %}<span class="text-panel__eyebrow">{{value.eyebrow}}</span>{% endif %}
            {% if value.title %}<h2 class="text-panel__title">{{value.title}}</h2>{% endif %}
        </header>
        <div class="text-panel__body">
            {% if value.body %}{{value.body|richtext}}{% endif %}
            {{render_cta(value.cta)}}
        </div>
    </div>
</div>
