{% extends 'base.jinja' %}
{% block content %}
  <form action="/search" method="get">
    <header class="search-page__header">
      <h1 class="heading-xl">{{ meta_title }}</h1>
      <div class="search-form">

        <input class="search-form__text-input" type="text" name="q" value="{{ form.q.value() }}" placeholder="Enter your search term">
        <button class="btn" type="submit">
          {{_('Search')}}
        </button>
      </div>
    </header>
  </form>


{% if popular|length > 0 %}
    <div class="card-group">
        <header class="card-group__header">
            <h2 class="card-group__header-title">{{_('Most read')}}</h2>
        </header>
        <ul class="grid-cols grid--{{ columns }}-col {{ card_format|default("") }}">
            {% for page in popular %}
                {% include "_partials/card.jinja" %}
            {% endfor %}
        </ul>
    </div>
{% endif %}


{% endblock %}
