<svg aria-hidden="true" width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-10.000000, -80.000000)" fill="#7F12E0" fill-rule="nonzero">
            <g transform="translate(10.000000, 71.000000)">
                <g transform="translate(0.000000, 9.000000)">
                    <path d="M15,0 C23.2842712,0 30,6.71572875 30,15 C30,23.2842712 23.2842712,30 15,30 C6.71572875,30 0,23.2842712 0,15 C0,6.71572875 6.71572875,0 15,0 Z"></path>
                </g>
            </g>
        </g>
    </g>
</svg>