input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    @apply p-2;
}

textarea {
    @apply border border-grey-medium w-full;
}

input[type="text"] {
    @apply border border-border-newsletter;
}

input[type="checkbox"] {
    appearance: none;
    @apply border border-black bg-white;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    color: black;
    background-color: white;
    &:focus {
        outline: 2px solid #DCEEFF;
    }
    &::before {
        content: "";
        width: 15px;
        height: 15px;
        /*clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
        clip-path: polygon(14% 50.67%, 1px 65%, 50.00% 86.66%, 93.33% 22.67%, 80% 2px, 43% 62%);
        transform: scale(0);
        background-color: black;
        
        
    }
    &:checked::before {
        transform: scale(1);
    }
    &:checked {
        @apply border-2 border-blue-medium;
    }
}

