table {
    @apply border-collapse w-full;

    @include max-width(lg) {
        width: calc(100vw - 20px);
        overflow-x: scroll;
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
    }
}

table td, table th {
    @apply border border-grey-medium;
    @apply p-2;
}

table tr:nth-child(even){
    @apply bg-grey-light;
}

table th {
    @apply py-2;
    @apply bg-blue-medium;
    @apply text-white;
}
