body {
    @apply text-text-main font-body;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, .heading-xl {
    @apply font-display font-bold text-36;
}

h2, .heading-l {
    @apply font-display font-bold text-26;
}

h3, .heading-m {
    @apply font-display font-bold text-21;
}

h4, .heading-s {
    @apply font-display font-bold text-18;
}

h5, h6, .heading-xs {
    @apply font-body font-bold text-16;
}

.intro {
    @apply text-grey-dark font-body text-19;
    @apply mb-12;
    line-height: rem(32px);
}

article {
    p {
        line-height: rem(32px);
        @apply my-5;

        &:first-of-type {
            @apply mt-0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mt-10 mb-5;
    }

    ol {
        list-style: auto;
        list-style-position: inside;
        li {
            @apply pl-3;
            line-height: rem(32px);
        }
    }

    ul {
        list-style: disc;
        list-style-position: inside;
        li {
            @apply pl-3;
            line-height: rem(32px);
        }
    }
}

blockquote {
    @apply font-display font-bold text-26;
    @apply border-l-2 border-blue-medium pl-8;
    @apply pl-8 py-4 my-8;
}

sup {
    font-size: 1em;
}

em {
    font-weight: bold;
}