html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    @apply bg-grey-light;
}

main {
    @apply py-12;
}

article {
    header {
        @apply border-b border-black/50;
        @apply pb-5;

        h1 {
            @apply my-5;
        }
    }
}

.article-header__meta {
    @apply list-none flex;

    & > li:first-of-type {
        @apply p-0;
    }

    .article-header__meta-item {
        @apply text-text-secondary text-14;
    }
}

.related-pages {
    @apply border-t border-black/50;
    @apply pt-10;
    @apply mt-10;

    h2 {
        @include min-width(lg) {
            @apply mb-10;
        }
        
    }
}

.visually-hidden {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}
  