/*------------------------------------*\
  #ARIMO
\*------------------------------------*/

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-Italic.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-Italic.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-Regular.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-Regular.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-MediumItalic.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-MediumItalic.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-Medium.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-Medium.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-SemiBoldItalic.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-SemiBoldItalic.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-SemiBold.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-SemiBold.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-BoldItalic.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-BoldItalic.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/static/fonts/Arimo/static/Arimo-Bold.woff') format('woff'),
         url('/static/fonts/Arimo/static/Arimo-Bold.woff2') format('woff2'),
         url('/static/fonts/Arimo/static/Arimo-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

/*------------------------------------*\
  #PLAYFAIR DISPLAY
\*------------------------------------*/

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Italic.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Italic.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Regular.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Medium.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Medium.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-MediumItalic.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Bold.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Bold.woff') format('woff'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('/static/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
