html, body {
    @apply h-full;
}

body {
    @apply flex flex-col;
    @apply overflow-x-hidden;
}

.footer {
    @apply flex-shrink-0;
}

.content {
    flex: 1 0 auto;
    justify-self: flex-start;
}

.contained-width {
	@include contained-width($max-width);
}

.contained-text-width {
	@include contained-width($max-text-width);
}

.full-width {
    @apply w-full;
    @apply relative;
    @apply left-1/2;
    @apply transform -translate-x-1/2;
}

.max-width {
    max-width: $max-width;
}

/* two col layout */
.aside-layout-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @media (min-width: 40rem) {
        grid-template-columns: 300px minmax(10px, 1fr);
    }
}

.aside-layout-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    @apply pt-10;

    @media (min-width: 40rem) {
        grid-template-columns: minmax(10px, 1fr) 300px;
    }

    .aside-layout__right-aside {
        > * {
            @apply mb-5;
        }
    }
}

.aside-layout__main {
    width: 100%;
    & > *:first-child {
        @apply mt-0;
    }
}