{# For displaying a single Page as a card. #}
<li class="card-group__card {% if page.thumbnail %}card-group__card--with-thumbnail{% endif %}">
    <a href="{{ page.get_url() }}">
        {% if page.thumbnail %}
            {{image(page.thumbnail,'fill-415x300')}}
        {% endif %}
        <div class="card-group__text">
            <h2>{{page.title}}</h2>
            {% if page.blurb %}<p>{{page.blurb}}</p>{% endif %}
        </div>
    </a>
</li>
