
{#

Available vars:

Nav items:
    href - Nav item url
    label - Nav item name

#}



<footer class="footer">
    <div class="footer__newsletter">
        <div class="contained-width">
            <div class="footer__newsletter-blurb">
                <h2>Open Ownership newsletter</h2>
                <p>Our email newsletter is the best way to receive our latest reports, articles and updates </p>
            </div>
            <form action="https://openownership.us19.list-manage.com/subscribe/post?u=5a522bc71b24b7202b6bf2c95&amp;id=57602bb40c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer__newsletter-form" target="_blank" novalidate>
                <label class="sr-only" for="mce=EMAIL">Your email:</label>
                <input type="text" value="" name="EMAIL" id="mce=EMAIL" name="newsletter" class="footer__newsletter-input" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a522bc71b24b7202b6bf2c95_57602bb40c" tabindex="-1" value=""></div>
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">Sign up</button>
            </form>
        </div>
    </div>

    <div class="footer__container">
        <div class="contained-width">
            <svg class="logo" width="200px" height="50px" viewBox="15 0 200 50">
                <use xlink:href="{{ static('images/symbols.svg#icon-logo-white')}}"></use>
            </svg>
            <div class="grid-cols grid--4-col">
            {% if footer_nav %}
                <nav class="footer__item footer__item--nav" aria-label="Secondary navigation">
                    <h2>{% trans %}Legal{% endtrans %}</h2>
                    <ul class="footer__horizontal-links">
                        {% for obj in footer_nav recursive %}
                            {% if obj.type == 'nav_item' %}
                                {% set href, label = obj.value %}
                                <li><a href="{{href}}">{{label}}</a></li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </nav>
            {% endif %}

            <div>
                <h2>{% trans %}Contact us{% endtrans %}</h2>
            </div>

            {% if social_links %}
            <div>
                <h2>{% trans %}Follow Us{% endtrans %}</h2>
                <ul class="footer__horizontal-links">
                    {% for service, link in social_links.items() %}
                        <li>
                            <a rel="noopener noreferrer" href="{{ link }}" aria-label="{% trans s=service|title %}Visit our {{ s }}{% endtrans %}">
                                {{ service|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div>
                <h2>{% trans %}Content rights{% endtrans %}</h2>
                <p>{% trans %}This work by Open Ownership, unless otherwise noted, is licensed under a Creative Commons Attribution 4.0 International License{% endtrans %}</p>
            </div>
        </div>
        </div>
    </div>
</footer>
