
{#

Available vars:

Nav items:
    href - Nav item url
    label - Nav item name

#}



<footer class="footer">
    <div class="footer__newsletter">
        <div class="contained-width">
            <div class="footer__newsletter-blurb">
                <h2>Open Ownership newsletter</h2>
                <p>Our email newsletter is the best way to receive our latest reports, articles and updates </p>
            </div>
            <form class="footer__newsletter-form">
                <label class="sr-only" for="newsletter-email">Your email:</label>
                <input type="text" id="newsletter-email" name="newsletter" class="footer__newsletter-input">
                <button type="submit" class="btn">Sign up</button>
            </form>
        </div>
    </div>

    <div class="footer__container">
        <div class="contained-width">
            <svg class="logo" width="200px" height="50px" viewBox="15 0 200 50">
                <use xlink:href="{{ static('images/symbols.svg#icon-logo-white')}}"></use>
            </svg>
            <div class="grid--4-col">
            {% if footer_nav %}
                <nav class="footer__item footer__item--nav">
                    <h2>{% trans %}Legal{% endtrans %}</h2>
                    <ul class="footer__horizontal-links">
                        {% for obj in footer_nav recursive %}
                            {% if obj.type == 'nav_item' %}
                                {% set href, label = obj.value %}
                                <li><a href="{{href}}">{{label}}</a></li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </nav>
            {% endif %}

            <div>
                <h2>{% trans %}Contact us{% endtrans %}</h2>
            </div>

            {% if social_links %}
            <div>
                <h2>{% trans %}Follow Us{% endtrans %}</h2>
                <ul class="footer__horizontal-links">
                    {% for service, link in social_links.items() %}
                        <li>
                            <a rel="noopener noreferrer" href="{{ link }}" aria-label="{% trans s=service|title %}Visit our {{ s }}{% endtrans %}">
                                {{ service|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div>
                <h2>{% trans %}Content rights{% endtrans %}</h2>
                <p>{% trans %}This work by Open Ownership, unless otherwise noted, is licensed under a Creative Commons Attribution 4.0 International License{% endtrans %}</p>
            </div>
        </div>
        </div>
    </div>
</footer>




