<div role="banner" class="hero hero--{{hero_theme}} {% if is_home %}hero--homepage{% endif %}">
    <div class="hero__content contained-width">
        <div class="hero__text">
            {% if hero_headline %}<h1 class="hero__title">{{hero_headline|richtext}}</h1>{% endif %}
            {% if hero_body %}{{hero_body|richtext}}{% endif %}
        </div>
    </div>
</div>
