{% if hero_image %}
    {% set hero_bg_image = image(hero_image, 'fill-1440x700|jpegquality-100') %}
{% endif %}
<div role="banner" class="hero hero--{{hero_theme}} {% if is_home %}hero--homepage{% endif %}"{% if hero_bg_image %} style="background-image: url('{{hero_bg_image.url }}')"{% endif %}>
    {% if hero_overlay %}
        <div class="hero__overlay hero__overlay--{{hero_overlay}}"></div>
    {% endif %}
    <div class="hero__content contained-width">
        <div class="hero__text">
            {% if hero_headline %}<h1 class="hero__title">{{hero_headline}}</h1>{% endif %}
            {% if hero_body %}{{render_stream(hero_body)}}{% endif %}
        </div>
    </div>
</div>
