{% if objects %}
    <ul class="list-view {{ card_format|default("") }}">
        {% for page in objects %}
            {% include '_partials/card.jinja' %}
        {% endfor %}
    </ul>
{% endif %}
