{#

Available vars:

For all nav items:
    href - Nav item url
    label - Nav item name

For mega menu containing nav items:
    obj.text - Main text link for mega menu
    item.section_title - Section title for group of links

#}


<div class="navbar">
    <div class="contained-width navbar__wrapper">

        <a href="/" class="navbar__logo" aria-label="{% trans %}Open Ownership Homepage{% endtrans %}">
            {% include 'svg/logo_black.jinja' %}
        </a>

        <div class="navbar__navigations-container">

            {% if page.translations %}
            <nav class="navbar__language" aria-label="Language">
                <button class="navbar__choose-language" aria-expanded="false" aria-label="Choose language.">
                    {{ page.locale }} {% include 'svg/expand.jinja' %}
                </button>

                <ul class="navbar__language-list">
                    {% for item in page.translations %}
                        <li><a href="{{item.url}}">{{ item.language }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}

            <button class="mobile-only navigation__toggle" aria-expanded="false" aria-label="Open navigation menu">
                Menu {% include 'svg/down-arrow.jinja' %}
            </button>

            <nav class="navbar__main-navigation --hidden" aria-label="Main navigation">
                <ul class="navigation__level-one">
                    
                    {% if page.translations %}
                    <li class="navigation__level-one__item --has-submenu navigation__level-one__language-menu">
                        <button aria-expanded="false" class="navigation__subnav-button --level-one navigation__subnav-button__language">
                            {% trans %}Language{% endtrans %}: {{ page.locale }} 
                            {% include 'svg/mobile-expand-icon.jinja' %}
                            {% include 'svg/mobile-collapse-icon.jinja' %}
                            <span class="sr-only">{% trans %}Expand{% endtrans %} language {% trans %}menu{% endtrans %}.</span>
                        </button>

                        <ul class="navigation__level-two subnav--hidden">
                            {% for item in page.translations %}
                                <li class="navigation__level-two__item">
                                    <a href="{{item.url}}">{{ item.language }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}

                    {% set top_level_navpage = get_top_level_navpage(page, navbar_blocks) %}

                    {% for obj in navbar_blocks recursive %}
                        {% if obj.type == 'nav_item' %}
                            {# "Home" #}
                            {% set href, label = obj.value %}
                            <li class="navigation__level-one__item --no-submenu">
                                <a href="{{href}}"{% if (obj.page and obj.page.pk == top_level_navpage.pk) or href == request.path[3:] %} aria-current="page"{% endif %}>{{label}}</a>
                            </li>
                        {% elif obj.type == 'mega_menu' %}
                            {# "About" #}

                            {% set href, label = obj.link %}
                            <li class="navigation__level-one__item --has-submenu">
                                <a href="{{href}}"{% if obj.page.pk == top_level_navpage.pk %} aria-current="page"{% endif %}>{{label}}</a>

                                <button aria-expanded="false" class="navigation__subnav-button --level-one">
                                    {% include 'svg/mobile-expand-icon.jinja' %}
                                    {% include 'svg/mobile-collapse-icon.jinja' %}
                                    <span class="sr-only">{% trans %}Expand{% endtrans %} {{label}} {% trans %}menu{% endtrans %}.</span>
                                </button>
                        
                                <ul class="navigation__level-two subnav--hidden">
                                    {% for item in obj.objects %}
                                        {# "Open Ownership Team" #}
                                        {% set href, label = item.link %}
                                        <li class="navigation__level-two__item {% if item.type != 'sub_menu' %}--no-submenu{% endif %}">
                                            <a href="{{href}}"{% if item.page and item.page.pk == page.pk %} aria-current="page"{% endif %}>{{label}}</a>
                                        
                                            {% if item.type == 'sub_menu' %}
                                                {# level-four: Team members #}

                                                <button aria-expanded="false" class="navigation__subnav-button --level-two">
                                                    {% include 'svg/mobile-expand-icon.jinja' %}
                                                    {% include 'svg/mobile-collapse-icon.jinja' %}
                                                    <span class="sr-only">{% trans %}Expand{% endtrans %} {{label}} {% trans %}menu{% endtrans %}.</span>
                                                </button>

                                                <ul class="navigation__level-three --has-submenu subnav--hidden">
                                                    {% for sub_item in item.objects %}
                                                        {% set href, label = sub_item.link %}
                                                        <li class="navigation__level-three__item">
                                                            <a href="{{href}}"{% if sub_item.page and sub_item.page.pk == page.pk %} aria-current="page"{% endif %}>{{label}}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>

                                    {% endfor %}
                                </ul>
                            </li>

                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
