{#

Available vars:

For all nav items:
    href - Nav item url
    label - Nav item name

For mega menu containing nav items:
    obj.text - Main text link for mega menu
    item.section_title - Section title for group of links

#}

<div class="navbar">

    <div class="image">OO image here</div>

    <nav class="navbar-navigation">

        <ul class="navigation__level-one">
            {% for obj in navbar_blocks recursive %}
                    {% if obj.type == 'nav_item' %}
                        {% set href, label = obj.value %}
                        <li><a href="{{href}}">{{label}}</a></li>
                    {% elif obj.type == 'mega_menu' %}
                        {{ obj.text }}
                        {% for item in obj.objects %}
                        <li>{{ item.section_title }}</li>
                            {% for href, label in item.links %}
                                <li><a href="{{href}}">{{label}}</a></li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
            {% endfor %}
        </ul>
    </nav>

    {% if page.translations %}
        <nav class="navbar-language">
            <ul>
                {% for item in page.translations %}
                    <a href="{{item.url}}">{{ item.language }}</a>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>
