{#
A list of pages in a menu at the side of a page.

Expects:

* menu_pages - A list or PageQuerySet of pages to link to.
* page - The current Page
* title - optional, the title for the menu. If falsey, the section page's title will be used.
#}

{% if menu_pages %}
    {% if title %}
        <h2>{{ title }}</h2>
    {% else %}
        {% with ancestors=page.get_ancestors() %}
            {# ancestors will be like: Root, HomePage, SectionPage, etc. #}
            {% if ancestors|length >= 3 %}
                {# There is at least a section page above this, so use its title. #}
                <h2>{{ ancestors[2].title }}</h2>
            {% endif %}
        {% endwith %}
    {% endif %}
    <ul>
        {% for p in menu_pages %}
            <li class="{% if p.pk == page.pk %}current{% endif %}">
                {% if p.pk == page.pk %}
                    {{ p.title }}
                {% else %}
                    <a href="{{ p.url }}">{{ p.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
