{#
A list of pages in a menu at the side of a page.

Expects:

* menu_pages - A nested list. Each item will have:
    * page - A Page object
    * children - If this is the page we're on, and the Page has children, this will contain a PageQueryset of the child Pages. Otherwise it's an empty list.

* page - The current Page

* page_menu_title - optional, the title for the menu. If falsey, the section page's title (e.g. "Research") will be used.
#}
{% if menu_pages %}
    <div class="page-menu__container">
        <h2 class="heading-m">{% if page_menu_title %}{{ page_menu_title }}{% else %}{{ page.section_page.title }}{% endif %}</h2>

        <ul class="page-menu">
            {% for p in menu_pages %}
                <li class="page-menu__page {% if p.page.pk == page.pk %}current{% endif %} {% if p.children %}is-open{% endif %}">
                    {% if p.page.pk == page.pk %}
                        <span class="page-menu__page-title">{{ p.page.title }}</span>
                    {% else %}
                        <a class="page-menu__page-title" href="{{ p.page.url }}">{{ p.page.title }}</a>
                    {% endif %}

                    {% if p.children %}
                        <ul class="page-menu__children-list">
                            {% for child in p.children %}
                                <li class="page-menu__children-list__item {% if child.pk == page.pk %}current{% endif %}">
                                    {% if child.pk == page.pk %}
                                        {{ child.title }}
                                    {% else %}
                                        <a href="{{ child.url }}">{{ child.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
