{# Ana - just some dummy example HTML! Phil. #}


{% if page_obj and page_obj.paginator and page_obj.paginator.num_pages and page_obj.paginator.num_pages > 1 %}
    <nav>
        <ul class="nav nav--pagination">
            {% if page_obj.has_previous() %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        {% trans %}Back{% endtrans %}
                    </a>
                </li>
            {% endif %}

            {% for p in page_obj.page_range %}
                {% if not p %}
                    <li>
                        ...
                    </li>
                {% elif p == page_obj.number %}
                    <li>
                        {{ p }} {% trans %}(current){% endtrans %}
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next() %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">
                        {% trans %}Next{% endtrans %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
