{#
Render a list of country tags.

Optional:

title - Title for the block.
#}

{% if page.areas_of_focus %}
    {% with areas=page.areas_of_focus.all() %}
        {% if areas|length > 0 %}
            <p>
                <strong>{% if title %}{{ title }}{% else %}{% trans %}Areas of focus{% endtrans %}{% endif %}</strong><br>
                {% for area in areas %}
                    {% if area.url %}
                    <a href="{{ area.url }}">{{ area.name }}</a>{% if not loop.last %}, {% endif %}
                    {% else %}
                    {{ area.name }}{% if not loop.last %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
{% endif %}
