<div class="taxonomies">
    {% if page.publication_type or page.page_type %}
        <p>
            <strong>{% trans %}Publication type{% endtrans %}</strong>
            {% if page.publication_type %}
                {% set tag_link = page.publication_type.get_url() %}
            {% else %}
                {% set tag_link = '' %}
            {% endif %}
            {% if tag_link %}<a href="{{ page.publication_type.get_url() }}">{% endif %}
                {% if page.publication_type %}<br>{{ page.publication_type }}{% endif %}
            {% if tag_link %}</a>{% endif %}
            {% if page.page_type and page.index_link %}
                {% if page.page_type != page.publication_type.name %}
                    <br><a href="{{ page.index_link }}">{{ page.page_type }}</a>
                {% endif %}
            {% endif %}
        </p>
    {% endif %}


    {% include "_partials/taxonomy_areas_of_focus.jinja" %}


    {% include "_partials/taxonomy_countries.jinja" %}


    {% if page.location %}
        {# For JobPage #}
        <p>
            <strong>{% trans %}Location{% endtrans %}</strong><br>
            {{ page.location }}
        </p>
    {% endif %}


    {% include "_partials/taxonomy_sectors.jinja" %}

    {% include "_partials/taxonomy_sections.jinja" %}

    {% include "_partials/taxonomy_principles.jinja" %}
</div>
