{% if page.publication_type or page.page_type %}
    <p>
        <strong>{% trans %}Publication type{% endtrans %}</strong><br>
        <a href="{{ page.publication_type.get_url(page.section_page) }}">{{ page.publication_type }}</a>
        {% if page.page_type and page.index_link %}
            {% if page.page_type != page.publication_type.name %}
                <br><a href="{{ page.index_link }}">{{ page.page_type }}</a>
            {% endif %}
        {% endif %}
    </p>
{% endif %}


{% include "_partials/taxonomy_areas_of_focus.jinja" %}


{% include "_partials/taxonomy_countries.jinja" %}


{% if page.location %}
    {# For JobPage #}
    <p>
        <strong>{% trans %}Location{% endtrans %}</strong><br>
        {{ page.location }}
    </p>
{% endif %}


{% include "_partials/taxonomy_sectors.jinja" %}


{% if page.download_document %}
    <p class="download-document">
    {% include "svg/download-document.jinja" %}
    <a href="{{ page.download_document.url }}">{% trans %}Download document{% endtrans %}</a>
    </p>
{% endif %}


{% include "_partials/share_page.jinja" %}
