{#
Render a list of country tags.

Optional:

title - Title for the block.
#}

{% with countries=page.countries.all() %}
    {% if countries|length > 0 %}
        <p>
            <strong>{% if title %}{{ title }}{% else %}{% trans %}Region specific{% endtrans %}{% endif %}</strong><br>
            {% for country in countries %}
                <a href="{{ url('country-tag', kwargs={'slug': country.slug}) }}">{{ country.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endwith %}
