{#
Render a list of country tags.

Optional:

title - Title for the block.
#}

{% if page.sectors %}
    {% with sectors=page.sectors.all() %}
        {% if sectors|length > 0 %}
            <p>
                <strong>{% if title %}{{ title }}{% else %}{% trans %}Sectors{% endtrans %}{% endif %}</strong><br>
                {% for sector in sectors %}
                    <a href="{{ sector.get_url(page.section_page) }}">{{ sector.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
{% endif %}