{#

    These are called Topics on the front end.

#}

{% if page.sectors %}
    {% with sectors=page.sectors.all() %}
        {% if sectors|length > 0 %}
            <p>
                <strong>{% if title %}{{ title }}{% else %}{% trans %}Topics{% endtrans %}{% endif %}</strong><br>
                {% for sector in sectors %}
                    {% if sector.url %}
                    <a href="{{ sector.url }}">{{ sector.name }}</a>{% if not loop.last %}, {% endif %}
                    {% else %}
                    {{ sector.name }}{% if not loop.last %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
{% endif %}
