{% set body_classes = "article-page" %}
{% set main_classes = "content--article-page" %}
{% extends 'base.jinja' %}

{% block content %}
    <div class="contained-width">
        <div class="article__content">

            {% block content_header %}
                <header class="article__header">
                    {% block content_eyebrow %}{% endblock %}
                    <h1 class="article__title">{{page.title}}</h1>

                    {% block content_meta %}{% endblock %}
                </header>
            {% endblock %}

            <article class="article__body">
                {% block article_body %}
                {{render_stream(page.body)}}
                {% endblock %}
            </article>
        </div>
        {{render_stream(page.additional_content)}}
    </div>
{% endblock %}

{% block menu %}
    {% include "_partials/page_menu.jinja" %}
{% endblock %}
