{% set body_classes = "faqs-page" %}
{% extends 'base.jinja' %}
{% block content %}
    <div class="contained-width">
        <header class="faqs-page__header">
            <h1 class="faqs-page__title">{{page.headline if page.headline else page.title}}</h1>
            {% if page.intro %}{{page.intro|richtext}}{% endif %}
        </header>

        <div class="faqs-page__content">
            <nav class="faqs-page__sidebar">
                <div class="faqs-page__sidebar-links">
                    {% for faq_list in faq_lists %}
                        <a href="#{{faq_list.slug}}">{{faq_list.name}}</a>
                    {% endfor %}
                </div>
            </nav>

            <article class="faqs-page__body">
                {% for faq_list in faq_lists %}
                <h3 class="faqs-page__anchor" id="{{faq_list.slug}}">{{faq_list.name}}</h3>
                <dl>
                    {% for item in faq_list.faqs %}
                    <dt id="faq-{{item.id}}" class="faqs-page__question">{{item.question}}</dt>
                    <dd class="faqs-page__answer">{{item.answer|richtext}}</dd>
                    {% endfor %}
                </dl>
                {% endfor %}
            </article>
        </div>
    </div>
{% endblock %}
