{% set body_classes = "glossary-page" %}
{% extends 'base_with_menu.jinja' %}

{% block content %}

    <article>

    {{render_stream(page.body)}}

    {% for block in page.glossary %}
        {% include_block block %}
    {% endfor %}

    </article>

{% endblock content %}