{% set body_classes = "glossary-page" %}
{% extends 'base_with_menu.jinja' %}

{% block content %}

    {{render_stream(page.body)}}


    <div id="accordionGroup" class="accordion">
        {% for item in page.glossary %}

            <button id="accordion-open-{{loop.index}}" class="accordion__button">
                {{ item.value.title }}
            </button>

            <div id="accordion-section-{{loop.index}}" class="accordion__section open">
                {{ item.value.body }}
            </div>

        {% endfor %}
    </div>

{% endblock content %}
