{% extends 'content/landing_page.jinja' %}
{% block content %}
    {% if has_hero %}
        <div class="hero hero--{{hero_theme}} hero--homepage">
            <div class="hero__overlay">
                {% include 'svg/bg_bubbles/green-coral-blue.jinja' %}
            </div>
            {% if hero_images %}
                <ul class="hero__images">
                    {% for hero_image in page.images_for_hero %}
                        {% set bg_image = image(hero_image, 'fill-1440x648') %}
                        <li class="hero__image">
                            <div class="ie-hidden">{{image(hero_image, 'fill-1440x648')}}</div>
                            <div class="ie-only hero__bg-image" style="background-image:url('{{bg_image.url}}')"></div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="contained-width">
                <div class="hero__text">
                    {% if hero_eyebrow %}<span class="hero__eyebrow">{{hero_eyebrow}}</span>{% endif %}
                    {% if hero_headline %}<h1 class="hero__title">{{hero_headline}}</h1>{% endif %}
                    {% if hero_subheading %}<p class="hero__subheading">{{hero_subheading}}</p>{% endif %}
                    {% if hero_body %}{{hero_body|richtext}}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="home-page__body">
        {{super()}}
    </div>
{% endblock %}
