{% extends 'base.jinja' %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.intro|richtext }}

{% endblock content %}

{% block menu %}
    {% with title="Opportunities" %}
        {% include "_partials/page_menu.jinja" %}
    {% endwith %}
{% endblock %}