{% extends 'base_with_header.jinja' %}

{% block content %}
    {{ super() }}

    {% if page.application_url %}
        <p>
            <a class="btn apply-btn" href="{{ page.application_url }}">{% trans %}Apply{% endtrans %}</a>
        </p>
    {% endif %}

{% endblock %}
