{% set main_classes = "job-index-page" %}
{% set page_menu_title = _("Opportunities") %}
{% extends 'base_with_menu.jinja' %}


{% block content %}

    <div class="intro">
        {{ page.intro|richtext }}
    </div>

{% endblock content %}
