{% set main_classes = "job-index-page" %}
{% extends 'base_with_menu.jinja' %}


{% block content %}

    <article>

        <div class="intro">
            {{ page.intro|richtext }}
        </div>

    </article>

    {% with pages=page_obj, columns=1, card_format='landscape' %}
        {% include "_partials/card_group.jinja" %}
    {% endwith %}

{% endblock content %}
