{% set main_classes = "job-index-page" %}
{% extends 'base_with_menu.jinja' %}


{% block content %}

    <div class="intro">
        {{ page.intro|richtext }}
    </div>

    {% with pages=page_obj, columns=1 %}
        {% include "_partials/card_group.jinja" %}
    {% endwith %}

{% endblock content %}
