{% extends 'base_with_menu.jinja' %}

{% block content %}


    <div class="intro">
        {{ page.intro|richtext }}
    </div>

    {# Stripes for use in CSS for filling a shape.
       From https://stackoverflow.com/a/22643745/250962
       In CSS set the `fill` color for .map-hatch-bg and the
       `stroke` color for .map-hatch-fg.
       Then apply the stripe background to an eelement with:
        fill: url(#diagonalHatch) #f00;
        with the color being a fallback.
    #}
    <svg>
        <pattern id="diagonalHatch" width="5" height="5" patternTransform="rotate(45 0 0)" patternUnits="userSpaceOnUse">
            <rect class="map__hatch-bg" x="0" y="0" width="5" height="5" />
            <line class="map__hatch-fg" x1="0" y1="0" x2="0" y2="5" style="stroke-width:5" />
        </pattern>
    </svg>

    <p>[NOTE: Country boundaries are currently from https://geojson-maps.ash.ms ]</p>

    <div class="js-map map">
        <button class="map__zoom map__zoom-in js-map-zoomin">+</button>
        <button class="map__zoom map__zoom-out js-map-zoomout">−</button>
    </div>


    <section class="grid-cols grid--2-col">
        <div class="country__header-card">
            <a href="#" class="country__header-card_header js-map-filter" data-map-hilites="committed-central|committed-public">{% trans %}Commitment to <abbr title="Beneficial Ownership Transparency">BOT</abbr>{% endtrans %}</a><br>
            <a href="#" class="country__header-card_row js-map-filter" data-map-hilites="committed-central">{% trans %}Central Register{% endtrans %} ({{ country_counts.committed_central }})</a><br>
            <a href="#" class="country__header-card_row js-map-filter" data-map-hilites="committed-public">{% trans %}Public Register{% endtrans %} ({{ country_counts.committed_public }})</a>
        </div>

        <div class="country__header-card">
            <a href="#" class="country__header-card_header js-map-filter" data-map-hilites="implementation-central|implementation-publict">{% trans %}Implementation of <abbr title="Beneficial Ownership Transparency">BOT</abbr>{% endtrans %}</a><br>
            <a href="#" class="country__header-card_row js-map-filter" data-map-hilites="implementation-central">{% trans %}Central Register{% endtrans %} ({{ country_counts.implementation_central }})</a><br>
            <a href="#" class="country__header-card_row js-map-filter" data-map-hilites="implementation-public">{% trans %}Public Register{% endtrans %} ({{ country_counts.implementation_public }})</a>
        </div>

        <div class="country__header-col">
            Countries where Open Ownership is engaged ({{ country_counts.engaged }})
        </div>
        <div class="country__header-col">
            <a href="#" class="button">{% trans %}Download all country data{% endtrans %}</a>
        </div>
    </section>

    <hr/>

    <section>
        <h2>{% trans %}Find a specific country{% endtrans %}</h2>
        <p>{% trans %}Find country activity through the map, search or from the regions listed below{% endtrans %}</p>
        <form action="/search/" method="GET" class="country-search__form">
            <div class="relative max-w-sixcol">
                <label for="q" class="sr-only">Search</label>
                <input type="text" id="q" name="q" value="{{search_query or ''}}" placeholder="Country search">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>

        {# regions #}
        <div class="accordion">
            {% for region in regions %}
                <button id="accordion-open-{{region.slug}}" class="accordion__button region__button">
                    {{region.name}}
                </button>

                <div id="accordion-section-{{region.slug}}" class="accordion__section open">
                    {% for country in region.countries.all() %}
                    <div >
                        <a href="{{ country.url }}">{{ country.name }}</a>
                    </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </section>

{% endblock content %}

{% block js_prepend %}
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>

    <script type="text/javascript">
        {# countries.json from https://geojson-maps.ash.ms #}
        var geojsonPath = "{{static('data/countries.json')}}";
        var mapData = {{ map_json|safe }};
        var ooEngagedValues = {{ oo_engaged_values|safe }};
    </script>
{% endblock %}