{% extends 'base_with_menu.jinja' %}

{% block content %}
    <div class="intro">
        {{ page.intro|richtext }}
    </div>

    {# Stripes for use in CSS for filling a shape.
       From https://stackoverflow.com/a/22643745/250962
       In CSS set the `fill` color for .map-hatch-bg and the
       `stroke` color for .map-hatch-fg.
       Then apply the stripe background to an eelement with:
        fill: url(#diagonalHatch) #f00;
        with the color being a fallback.
    #}
    <svg aria-hidden="true" class="sr-only">
        <pattern id="diagonalHatch" width="5" height="5" patternTransform="rotate(45 0 0)" patternUnits="userSpaceOnUse">
            <rect class="map__hatch-bg" x="0" y="0" width="5" height="5" />
            <line class="map__hatch-fg" x1="0" y1="0" x2="0" y2="5" style="stroke-width:5" />
        </pattern>
    </svg>

    <div class="js-map map">
        <button class="map__zoom map__zoom-in js-map-zoomin">+</button>
        <button class="map__zoom map__zoom-out js-map-zoomout">−</button>
    </div>
    <p class="note">{% trans %}NOTE: Country boundaries <a href="https://geojson-maps.ash.ms">source</a>{% endtrans%}</p>
    <p class="note">{% trans %}Data on the Open Ownership map is drawn from publicly-available sources and may not be comprehensive for all countries. If data is incorrect, <a href="https://share.hsforms.com/1ooDVGfPWQFyc93l3Bds9jA3upv4">please let us know</a>{% endtrans%}</p>


    <div class="map__country-data">
        <div class="map__country-data-box">
            <button class="map__country-data-header js-map-filter" data-map-hilites="committed-central|committed-public">
                {% include "svg/commitment-icon.jinja" %}
                <span>
                {% trans %}Commitment to <abbr title="Beneficial Ownership Transparency">BOT</abbr>{% endtrans %}</span>
            </button>
            <button class="country__header-card_row --committed-central js-map-filter" data-map-hilites="committed-central">
                {% include "svg/filled-circle-icon.jinja" %}
                {% trans %}Central Register{% endtrans %} ({{ country_counts.committed_central }})</button>
            <button class="country__header-card_row --committed-public js-map-filter" data-map-hilites="committed-public">
                {% include "svg/filled-circle-icon.jinja" %}
                {% trans %}Public Register{% endtrans %} ({{ country_counts.committed_public }})</button>
        </div>

        <div class="map__country-data-box">
            <button class="map__country-data-header js-map-filter" data-map-hilites="implementation-central|implementation-public">
                {% include "svg/implementation-icon.jinja" %}
                <span>
                {% trans %}Implementation of <abbr title="Beneficial Ownership Transparency">BOT</abbr>{% endtrans %}
                </span>
            </button>
            <button class="country__header-card_row --implementation-central js-map-filter" data-map-hilites="implementation-central">
                {% include "svg/filled-circle-icon.jinja" %}
                {% trans %}Central Register{% endtrans %} ({{ country_counts.implementation_central }})
            </button>
            <button class="country__header-card_row --implementation-public js-map-filter" data-map-hilites="implementation-public">
                {% include "svg/filled-circle-icon.jinja" %}
                {% trans %}Public Register{% endtrans %} ({{ country_counts.implementation_public }})
            </button>
        </div>
    </div>

    <div class="map__country-data --no-filters">
        <div class="map__country-data-box">
            <div class="country__card-no-action">
                {% include "svg/filled-circle-icon.jinja" %}
                Countries where Open Ownership is engaged ({{ country_counts.engaged }})
            </div>
            
        </div>
        <div class="map__country-data-box">
            <a href="{{ url('countries-export') }}" class="ghost-link">{% trans %}Download all country data{% endtrans %}</a>
        </div>
    </div>


    



    <section>

        <div class="find-country">
            <h2 class="find-country__title">{% trans %}Find a specific country{% endtrans %}</h2>
            <p class="find-country__blurb">{% trans %}Find country activity through the map, search or from the regions listed below{% endtrans %}</p>
            <form action="/search/" method="GET" class="country-search__form">
                <div class="country-search__form-wrapper">
                    <label for="q" class="sr-only">Search</label>
                    <input autocomplete="off" class="country-search__input" type="text" id="q" name="q" value="{{search_query or ''}}" placeholder="Country search">
                    <button type="submit" class="btn" aria-label="Search">
                        {% include 'svg/search-icon.jinja' %}
                    </button>
                    <ul class="country__suggestions">
                    </ul>
                </div>
            </form>
        </div>

        {# regions #}
        <div class="accordion">
            {% for region in regions %}
                <button id="accordion-open-{{region.slug}}" class="accordion__button region__button">
                    {{region.name}}
                </button>

                <div id="accordion-section-{{region.slug}}" class="accordion__section open">
                    {% for country in region.countries.all().order_by('name') %}
                    
                        <a href="{{ country.url }}">{{ country.name }}</a>
                    
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </section>

{% endblock content %}

{% block js_prepend %}
    <script src="https://unpkg.com/d3@5.6.0/dist/d3.min.js"></script>
    <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>

    <script type="text/javascript">
        {# See the convert_map_topojson.py management command for how to make the topoJSON file #}
        var topojsonPath = "{{static('data/worldmap_topo.json')}}";
        var mapData = {{ map_json|safe }};
        var countryData = {{ countries_json|safe }};
        var ooEngagedValues = {{ oo_engaged_values|safe }};
    </script>
{% endblock %}
