{% set body_classes = "index-page" %}
{% extends 'base.jinja' %}

{% block content %}

    <div class="news-index">
        <div class="contained-width">

            <header class="news-index__header">
                {% if page.eyebrow %}<span class="news-index__eyebrow">{{page.eyebrow}}</span>{% endif %}
                {% if page.headline %}<h1 class="news-index__title">{{page.headline}}</h1>{% endif %}
            </header>

            <div class="news-index__filter">
                <span class="news-index__filter-title">Filter:</span>
                <div class="news-index__filter-links">
                    <a href="/" class="news-index__filter-link news-index__filter-link--active link--reverse-underline">All</a>
                    <a href="/" class="news-index__filter-link link--reverse-underline">Blog Posts</a>
                    <a href="/" class="news-index__filter-link link--reverse-underline">Case studies</a>
                </div>
            </div>

            {% if featured_articles %}
            <ul class="news-index__items--featured {% if featured_articles|length > 1 %}news-index__items--featured-two-col{% endif %}">
                {% for obj in featured_articles %}
                    <li class="news-item news-item--featured {% if objects|length == 1 %}news-item--featured-full-width{% endif %}">
                        <a href="{{obj.url_path|url_from_path}}">
                            {% if obj.thumbnail %}
                                {% if objects|length == 1 %}
                                    <div class="news-item__thumbnail desktop-only">{{image(obj.thumbnail, 'fill-584x434')}}</div>
                                    <div class="news-item__thumbnail mobile-only">{{image(obj.thumbnail, 'fill-584x322')}}</div>
                                {% else %}
                                    <div class="news-item__thumbnail">{{image(obj.thumbnail, 'fill-584x322')}}</div>
                                {% endif %}
                            {% endif %}
                            <div class="news-item__text">
                                <span class="news-item__eyebrow">{% if obj.category %}{{obj.category.name}}{% else %}News{% endif %}</span>
                                <h2 class="news-item__title">{{obj.title}}</h2>
                                <time class="news-item__date">{{obj.human_display_date}}</time>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if objects %}
            <ul class="news-index__items">
                {% for obj in objects %}
                    <li class="news-item">
                        <a href="{{obj.url_path|url_from_path}}">
                            {% if obj.thumbnail %}<div class="news-item__thumbnail">{{image(obj.thumbnail, 'fill-280x140')}}</div>{% endif %}
                            <div class="news-item__text">
                                <span class="news-item__eyebrow">{% if obj.category %}{{obj.category.name}}{% else %}News{% endif %}</span>
                                <h2 class="news-item__title">{{obj.title}}</h2>
                                <time class="news-item__date">{{obj.human_display_date}}</time>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if is_paginated %}
                {% include '_partials/pagination.jinja' %}
            {% endif %}

            {{render_stream(page.additional_content)}}
        </div>
    </div>

{% endblock %}
