{% extends 'base_article.jinja' %}

{% block article_content %}

    <h2>{{ page.title }}</h2>

    {{render_stream(page.body)}}

    {% with next_page=page.get_next_page() %}
        {% if next_page %}
            <p>
                <a href="{{ next_page.url }}">{% trans %}Next page{% endtrans %}: {{ next_page.title }}</a>
            </p>
        {% endif %}
    {% endwith %}

{% endblock article_content %}


{% block menu %}
    {% with title="Report contents" %}
        {% include "_partials/page_menu.jinja" %}
    {% endwith %}
{% endblock %}
