{% set page_menu_title = _("Contents") %}
{% extends 'base_with_header_and_menu.jinja' %}


{% block content %}

    {# The title of this section in the publication: #}
    <h2>{{ page.title }}</h2>

    {{render_stream(page.body)}}

    {% with next_page=page.get_next_page() %}
        {% if next_page %}
            <p>
                <a class="next-page" href="{{ next_page.url }}">{% trans %}Next page{% endtrans %}: {{ next_page.title }}</a>
            </p>
        {% endif %}
    {% endwith %}

{% endblock %}
