{% set page_menu_title = _("Contents") %}
{% extends 'base_with_header_and_menu.jinja' %}

{% if page.download_document %}
    {% set img_link = page.download_document.url %}
{% elif page.external_link %}
    {% set img_link = page.external_link %}
{% else %}
    {% set img_link = "" %}
{% endif %}


{% block content %}

<article>

    <div class="publication-front-page__overview">
        {% if page.cover_image %}
        <div class="publication-front-page__cover">
            {% if img_link %}<a href="{{ img_link }}">{% endif %}
            {{ picture(page.cover_image, 200, 300, alt="Cover") }}
            {% if img_link %}</a>{% endif %}
        </div>
        {% endif %}

        {% include "_partials/publication_front_page_details.jinja" %}

    </div>

    {% if feedback_form %}
        {% include "_partials/feedback_form.jinja" %}
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div id="success-message" class="publication-front-page__feedback key-learning-outcomes">
                    <p>Thank you for letting us know. This helps us understand our audience, so we can make our resources more useful.</p>
                    <div id="dismiss-success-message"><small>Click here to dismiss message</small></div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="publication-front-page__content">
        {% include "_partials/taxonomies.jinja" %}

        {% if page.summary %}
            {# <h2>{% trans %}Summary{% endtrans %}</h2> #}
            <h2>{{ page.summary_title or _('Summary') }}</h2>
            {{ page.summary|richtext }}
        {% endif %}

        {% if page.outcomes %}
            <div class="key-learning-outcomes">
                {# <h2>{% trans %}Key Learning Outcomes{% endtrans %}</h2> #}
                <h2>{{ page.outcomes_title or _('Key Learning Outcomes') }}</h2>
                {{ page.outcomes|richtext }}
            </div>
        {% endif %}

        {% if page.impact %}
            {# <h2>{% trans %}Benefit / Impact{% endtrans %}</h2> #}
            <h2>{{ page.impact_title or _('Benefit / Impact') }}</h2>
            {{ page.impact|richtext }}
        {% endif %}
    </div>


    {% with next_page=page.get_next_page() %}
        {% if next_page %}
            <a class="next-page" href="{{ next_page.url }}">
                {% trans %}Next page{% endtrans %}: {{ next_page.title }}
                {% include "svg/right-arrow.jinja" %}
            </a>
        {% endif %}
    {% endwith %}

    {{render_stream(page.additional_content, page, is_footer_content=True)}}

</article>
{% endblock %}
