{% extends 'content/section_page.jinja' %}


{% block content %}

    {% if child_pages %}
        {% with pages=child_pages %}
            {% include "_partials/card_group.jinja" %}
        {% endwith %}
    {% endif %}

{% endblock %}