{% extends 'base_with_menu.jinja' %}


{% block content %}

    <div class="intro">
        {{ page.intro|richtext }}
    </div>

    {% if page_obj %}
        {% with pages=page_obj, columns=1, card_format='landscape' %}
            {% include "_partials/card_group.jinja" %}
        {% endwith %}

        {% include "_partials/pagination.jinja" %}
    {% endif %}

{% endblock content %}
