{% extends 'base_with_menu.jinja' %}


{% block content %}

    <article>
        {# <section class="embed">
            <div class="embed__wrapper--responsive">
                {{ video_embed|richtext }}
            </div>
        </section> #}
        {% if page.body|length %}
            <div class="intro">
                {{render_stream(page.body, page)}}
            </div>
        {% endif %}
        {% if page.intro %}
            <div class="intro">
                {{ page.intro|richtext }}
            </div>
        {% endif %}
    </article>

    {% if page_obj %}
        <div class="related-pages">
            {% with pages=page_obj.object_list, columns=1, card_format='landscape' %}
                {% include "_partials/card_group.jinja" %}
            {% endwith %}

            {% include "_partials/pagination.jinja" %}
        </div>
    {% endif %}

    

{% endblock content %}
