{% extends 'base_with_menu.jinja' %}


{% block content %}

<article>
	{{ page.intro|richtext }}
</article>

<div class="related-pages">
	{% if page.tags_title %}
		<h2>{{ page.tags_title }}</h2>
	{% endif %}

	{% with columns=2 %}
		{% include "_partials/card_group.jinja" %}
	{% endwith %}
</div>

{% endblock content %}
