{% extends 'base_with_menu.jinja' %}


{% block content %}

    <article>
        <section class="embed">
            <div class="embed__wrapper--responsive">
                {{ video_embed|richtext }}
            </div>
        </section>
        <div class="intro">
            {{ page.intro|richtext }}
        </div>
    </article>

    {% if page_obj %}
        <div class="related-pages">
            {% with pages=page_obj.object_list, columns=1, card_format='landscape' %}
                {% include "_partials/card_group.jinja" %}
            {% endwith %}

            {% include "_partials/pagination.jinja" %}
        </div>
    {% endif %}

    

{% endblock content %}
