{% extends 'base_with_menu.jinja' %}

{% block content %}

    {% if page.role %}
        <p><strong>{{ page.role }}</strong></p>
    {% endif %}

    {% if page.location %}
        <p>{% trans %}Location{% endtrans %}: {{ page.location }}</p>
    {% endif %}

    {% if page.email_address %}
        <p>{% trans %}Contact{% endtrans %}: <a href="mailto:{{ page.email_address }}">{{ page.email_address }}</a></p>
    {% endif %}

    {% if page.twitter_url or page.github_url or page.linkedin_url %}
        <ul>
            {% if page.twitter_url %}
                <li><a href="{{ page.twitter_url }}">Twitter</a></li>
            {% endif %}
            {% if page.github_url %}
                <li><a href="{{ page.github_url }}">GitHub</a></li>
            {% endif %}
            {% if page.linkedin_url %}
                <li><a href="{{ page.linkedin_url }}">LinkedIn</a></li>
            {% endif %}
        </ul>
    {% endif %}

    {% if page.portrait_image %}
        {{ picture(page.portrait_image, 200, 300, alt="Portrait of "+page.title) }}
    {% endif %}

    {% if page.intro %}
        {{ page.intro|richtext }}
    {% endif %}

    {{render_stream(page.body)}}

    {% if page.authorship %}
        {% with pages=page.authorship.get_content_pages() %}
            {% include "_partials/card_group.jinja" %}
        {% endwith %}
    {% endif %}

{% endblock %}
