{% extends 'base_with_menu.jinja' %}

{% block content %}

    {{ page.intro|richtext }}

    {% if page_obj %}
        {% with pages=page_obj, columns=2 %}
            {% include "_partials/card_group.jinja" %}
        {% endwith %}

        {% include "_partials/pagination.jinja" %}
    {% endif %}

{% endblock %}
