.find-country {
    @apply my-8;
    @apply border-t border-black/50;
}

.find-country__title,
.find-country__blurb, 
.country-search__form {
    @apply my-4;
}

.country-search__form-wrapper {
    @apply relative w-4/6 flex;
    
    .btn {
        @apply p-1;
    }
}

.country-search__input {
    @apply flex-1;
}

.map__country-data {
    @apply flex flex-row gap-8;
    @apply my-4;
}

.map__country-data-box {
    @apply p-2;
    @apply basis-1/2;

    button.country__header-card_row {
        @apply border-b-2 border-border-data;
    }

    button.country__header-card_row:last-child {
        @apply border-0;
    }

    .ghost-link {
        @apply my-0;
    }
}

.map__country-data-header {
    @apply flex items-center w-full;
    @apply m-0 p-2 font-bold font-body text-16;
    @apply border-2 border-blue-medium;
    @apply text-blue-medium;

    svg {
        @apply mr-4;
        * {
            stroke: #3C31D5;
        }
        
    }

    > * {
        pointer-events: none;
    }
}

.map__country-data-box.--active {
    @apply bg-white;

    .map__country-data-header{
        @apply bg-blue-light;
        @apply border-2 border-blue-light;
        @apply text-black;

        svg {
            @apply mr-4;
            * {
                stroke: black;
            }
        }
    }
    .country__header-card_row {    
        @apply text-black;
        &.--committed-central,
        &.--implementation-central {
            g {
                fill: #7F12E0;
            }
        }
    
        &.--committed-public,
        &.--implementation-public {
            g {
                fill: #1bb0a7;
            }
        }
    }
       
}

.country__header-card_row {
    @apply w-full p-4;
    @apply flex items-center;
    @apply text-grey-medium;

    svg {
        @apply mr-4;
        width: 100%;
        max-width: 30px;
    }

    &.--committed-central,
    &.--implementation-central {
        g {
            fill: #D9D9D9;
        }
    }

    &.--committed-public,
    &.--implementation-public {
        g {
            fill: #D9D9D9;
        }
    }
}

.country__card-no-action {
    @apply w-full px-4;
    @apply flex items-center;
    @apply text-black;

    svg {
        @apply mr-4;
        width: 100%;
        max-width: 30px;

        g {
            fill: #db00c9;
        }
    }
}

.note {
    @apply text-14 text-grey-dark;
}

.country__suggestions {
    position: absolute;
    max-height: 250px;
    overflow-y: scroll;
    background-color: white;
    top: 42px;
    @apply w-full;
}

.country__suggestions_single-country {
    @apply p-2;
}

