.publication-front-page__overview {
    @apply flex flex-row gap-8;
    @apply border-b border-black/50;
    @apply pb-10;
    @apply my-4;
}

.publication-front-page__cover, .publication-front-page__details {
    @apply basis-1/2;
}

.publication-front-page__cover {
    img {
        @apply w-full;
    }
}

.publication-front-page__details {
    .btn {
        @apply w-full;
    }

    .navbar__language {
        @apply block !important;
        
        .btn {
            @apply text-white;
            @apply flex items-center justify-center;

            svg {
                @apply ml-2;
                @apply relative;

                top: 1px;
            }

            g {
                @apply stroke-white;
            }
        }
    }

    .navbar__language-list {
        top: 42px;
        width: 100%;
    }

    > * {
        @apply mb-4;
    }
}

.download-document {
    display: flex;
    align-items: center;

    svg {
        width: 30px;
        margin-right: 1rem;
    }
}


/* Footnotes */
ol.footnotes{
    list-style-type: decimal;
    list-style-position: outside;
}

.footnotes__item {
  scroll-margin-top: 20px;

    .footnotes__item-anchor{
        margin-top: -45px;
        text-decoration: none;
        float: right;
        font-size: 1.4rem;
    }
}
