.search-page__header {
    @apply border-b border-black/50;
    @apply mb-10 pb-10;
}

.search-form {
    @apply w-2/4;
    @apply flex;
    @apply mt-5;

    .btn {
        @apply text-19 font-bold;
        height: 46px;
    }
}

input[type=text].search-form__text-input {
    flex: 1 1 0%;
    @apply border-2;
}

.results__count {
    @apply mb-4;
}

.search-filter__title {
    @apply text-21 font-bold;
    padding: 1rem 1rem;   
}

.filter-results__btn {
    @apply mt-4;
}

.filter-list {
    @apply flex flex-wrap;
    li {
        @apply bg-text-secondary text-14 font-bold;
        padding: 5px;
        @apply mr-1;
        @apply text-white;
        @apply mb-2;
    }
}