{% extends 'base.jinja' %}
{# Used for an "article" page with date, author, and tags. e.g. a JobPage, BlogArticlePage, NewsArticlePage, PublicationFrontPage, PublicationInnerPage. But not an "ArticlePage" in About! #}


{% block breadcrumbs %}
    {% with section_page=page.get_section_page() %}
        {% if section_page %}
            <a href="{{ section_page.get_url() }}">Back to {{ section_page.title }}</a>
        {% endif %}
    {% endwith %}
{% endblock %}


{% block content %}

    <h1>{{ page.specific.display_title }}</h1>

    <ul>
        <li>
            {% trans %}Publication date{% endtrans %}: {{ page.human_display_date }}
        </li>

        {# Job Applications don't have authors; other articles do #}
        {% with authors=page.specific.authors %}
            {% if authors and authors|length %}
                <li>
                    {% trans count=page.authors|length %}Author{% pluralize %}Authors{% endtrans %}:
                    {% for author in authors %}
                        {% if author.team_profile %}<a href="{{ author.team_profile.get_url() }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        {% endwith %}

        {# On Job Applications #}
        {% if page.application_deadline %}
            <li>{% trans %}Application deadline{% endtrans %}: {{ page.human_application_deadline }}</li>
        {% endif %}
    </ul>

    {% block article_content %}
        {{render_stream(page.body)}}

        {% include "_partials/taxonomies.jinja" %}
    {% endblock %}

    {% block article_content_end %}
    {% endblock %}

{% endblock content %}
