{% extends 'base.jinja' %}

{#
	For pages that have:

	* Breadcrumbs
	* A full-width Heading
	* Publication Date, etc

	All above the main content and any side menu etc.
#}

{% block main %}

	<div class="contained-width {{ main_classes }}">

		{% with breadcrumb_page=page.breadcrumb_page %}
			{% if breadcrumb_page %}
				<div class="breadcrumbs">
					<a class="reverse-underline" href="{{ breadcrumb_page.get_url() }}"><span aria-hidden="true"> < </span>{% trans %}Back to{% endtrans %} {{ breadcrumb_page.title }}</a>
				</div>
			{% endif %}
		{% endwith %}

		<article>
            <header>
                <h1 class="heading-xl">{{ page.specific.display_title }}</h1>

                <ul class="article-header__meta">
					{% if page.show_display_date_on_page %}
						<li class="article-header__meta-item">{% trans %}Publication date{% endtrans %}: {{ page.human_display_date }}</li>
					{% endif %}

					{% with authors=page.specific.authors %}
						{% if authors and authors|length %}
							<li class="article-header__meta-item">
								{% trans count=page.authors|length %}Author{% pluralize %}Authors{% endtrans %}:
								{% for author in authors %}
									{% if author.team_profile %}<a href="{{ author.team_profile.get_url() }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if not loop.last %}, {% endif %}
								{% endfor %}
							</li>
						{% endif %}
					{% endwith %}

					{% if page.application_deadline %}
						<li class="article-header__meta-item">{% trans %}Application deadline{% endtrans %}: {{ page.human_application_deadline }}</li>
					{% endif %}
                    {% if page and page.translations|length %}
                        <li class="article-header__meta-item">| &nbsp;{{ _("View in") }}:
                            {% for item in page.translations %}
                                <a href="{{ item.url }}" class="language_tag"><span>{{ _(item.language) }}<span></a>&nbsp;
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </header>
			{% block main_inner %}
				<div class="aside-layout-right">
					<div class="aside-layout__main">
						{% block content %}
							{% if page.intro %}
								<div class="intro">
									{{ page.intro|richtext }}
								</div>
							{% endif %}

							{{render_stream(page.body)}}

							{{render_stream(page.additional_content, page)}}
						{% endblock %}
					</div>

					<div class="aside-layout__right-aside">
						{% include "_partials/taxonomies.jinja" %}
					</div>
				</div>
			{% endblock %}
		</article>
	</div>

{% endblock %}
