{% extends 'base_with_header.jinja' %}

{#
	Combines the header from base_with_header.jinja and
	the left-hand menu from base_with_menu.jinja (but without its heading).
#}


{% block main_inner %}

    <div class="aside-layout-left">
        <div class="aside-layout__menu {% if page.__class__.__name__ in ['PublicationFrontPage', 'PublicationInnerPage'] %}--is-publication{% endif %}">
            
            {% if page.__class__.__name__ in ['PublicationFrontPage', 'PublicationInnerPage'] %}
                <button id="report-contents" class="report-contents">
                    Report contents 
                    {% include 'svg/mobile-expand-icon.jinja' %}
                    {% include 'svg/mobile-collapse-icon.jinja' %}
                </button>
            {% endif %}
            {% block page_menu %}
                {% include "_partials/page_menu.jinja" %}
            {% endblock %}
        </div>

        <div class="aside-layout__main">
            {% block content %}
				{{render_stream(page.body)}}
            {% endblock %}
        </div>
    </div>

{% endblock %}