{% extends "base.jinja" %}

{#
	Has a menu on the left-hand side (at full width) for navigating between
	pages within a section or publication.
#}


{% block main_inner %}

	<div class="aside-layout-left">
		<div class="aside-layout__menu">
			{% block page_menu %}
				{% include "_partials/page_menu.jinja" %}
			{% endblock %}
		</div>

		<div class="aside-layout__main aside-layout__no-header">
			<h1 class="heading-xl">{{ page.title }}</h1>

			{% block content %}
				{{render_stream(page.body)}}
			{% endblock %}
		</div>
	</div>

{% endblock %}
