{% extends 'base.jinja' %}
{# Used for an "article" page with date, author, and tags. e.g. a Job Description, Blog Post, News Article. But not an "Article" in About! #}


{% block breadcrumbs %}
    {% with parent=page.get_parent() %}
        <a href="{{ parent.get_url() }}">Back to {{ parent.title }}</a>
    {% endwith %}
{% endblock %}


{% block content %}
    <h1>{{ page.title }}</h1>

    <ul>
        <li>
            Publication date: {{ page.human_display_date }}
        </li>
        {% block byline %}
            {% with authors=page.specific.authors %}
                {% if authors and authors|length %}
                    <li>
                        {% trans count=page.authors|length %}
                            Author
                        {% pluralize %}
                            Authors
                        {% endtrans %}
                        Author{% if authors|length > 1 %}s{% endif %}:
                        {% for author in authors %}
                            {% if author.team_profile %}<a href="{{ author.team_profile.get_url() }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endif %}
            {% endwith %}
        {% endblock %}
    </ul>

    {{render_stream(page.body)}}

    {% block article_content_end %}
    {% endblock %}

{% endblock content %}
